.Projects {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 70%;
    margin: 50px auto;
    margin-bottom: 100px;
    flex-wrap: wrap;
    /* background-color: #a8e4ff; */
}
@media (max-width:499px) {
    .Projects {
        margin-bottom: 0px;
    }
}