.Thumbnail {
    /* width: 80px; */
    /* height: 160px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid white;
    border-radius: 5px;
    /* margin: 120px; */
    width: 200px;
    background-color: white;
}

.Thumbnail a {
    /* position: absolute; */
}

.Thumbnail img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.Image {
    /* height: 100%;
    width: 100%; */
}

.Description {
    background-color: white;
    width: 100%;
    height: 100%;
}