.Logo {
    margin-right: auto;
    margin-left: 5%;
    display: flex;
    transition: 3s linear;
}

.Logo a {
    align-items: center;
    display: flex;
}

.Logo img {
    position: relative;
    width: 40px;
}

.Logo img:hover {
    animation: rotating 20s ease-out infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.1);
    }
}

.Toolbar {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 5;
    /* padding: 1% 0; */
    padding: 10px 0;
    /* height: 2rem; */
    /* height: auto; */
    height: 5vh;
    
    width: 100%;
    /* position: relative; */
    /* padding-right: 100px; */
    position: absolute;

    /* border-bottom: 1px solid black; */
    /* border-bottom-left-radius: 20px; */
    /* background-color: #c6c5b9; */
}

.Toolbar nav {
    width: 40%;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

@media (max-width:499px) {
    .Toolbar nav {
        display: none;
    }
}

@media (max-width:890px) {
    .Toolbar nav {
        width: 60%;
    }
}

.Toolbar nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    width: 100%;
}

.Toolbar nav ul a {
    font-family: 'Noto Sans';
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10 20px;
    position: relative;
    transition: 0.00s all ease-in-out;
    letter-spacing: 1px;
}

.Toolbar nav ul a:hover {
    /* color: #edfff1; */
    color: #9c9c9c;
}

/* 
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Anim {
    animation: fadeIn 2s ease-in-out;
} */