.Language {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Language img {
    width: 1.2rem;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.White {
    opacity: 0.9;
}