.Hamburger {
    width: 3rem;
    height: 2.5rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
    cursor: pointer;
    /* position: absolute; */

}

.Hamburger div {
    width: 90%;
    height: 3px;
    background-color: black;
    border-radius: 3px;
}

@media (min-width: 500px) {
    .Hamburger {
        display: none;
    }
}