.Card {
    max-height: 300px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    margin: 0 2% 5% 2%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

@media (max-width: 499px) {
    .Card {
        max-height: 400px;
        margin: 0 2% 50% 2%;
        /* margin: 0 2% 5% 2%; */
    }
}

.ToolbarImage {
    width: 100%;
    /* background-color: brown; */
}

.ToolbarImage img {
    width: 100%;
}

.Image {
    height: auto;
    margin-top: -5px;
}

.Image video {
    width: 100%;
    border-bottom: 1px solid rgb(221, 221, 221);

}

.Stack {
    display: flex;
    justify-content: space-evenly;
    
}

.Stack img {
    height: 25px;
}

.Description {
    margin-bottom: 50px;
    text-align: center;
    margin: 5% 5% 5% 5%;
}

.Description p {
    font-family: "Roboto Mono";
    font-size: 0.9rem;
}

.Backdrop {
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    justify-content: center;
    justify-content: space-around;
}

.Backdrop:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.MobileIcons {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    /* background-color: rgb(124, 124, 124); */
}

/* Only for real hover with mouse */

/* @media (hover: hover) {
    .Backdrop:hover {
        opacity: 0.7;
        transition: opacity 0.3s ease;
    }
} */

@media (max-width: 499px) {
    .Backdrop {
        display: none;
    }
    .Code p {
        color: black;
    }
    .Website p {
        color: black;
    }
}

@media (min-width: 500px) {
    /* .Backdrop {
        display: flex;
    } */
    .MobileIcons {
        display: none;
    }
    .Code p,
    .Website p {
        color: white;
    }
    /* .Website p {
        color: white;
    } */
}

.Code:hover,
.Website:hover {
    animation: focus ease-in-out 1s infinite alternate forwards;
}

.Code p,
.Website p {
    font-family: "Roboto Mono";
    font-size: 0.9rem;
    font-weight: 600;
}

.Code a,
.Website a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.Code img,
.Website img {
    width: 50px;
}

/* .Website:hover {
    animation: focus ease-in-out 1s infinite alternate forwards;
} */

/* .Website p {
    font-family: 'Roboto Mono';
    font-size: 0.9rem;
    font-weight: 600;
} */

/* .Website a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
} */

/* .Website img {
    width: 50px;
} */

/* .NoHover {
    pointer-events: none;
    touch-action: none;
} */

@keyframes focus {
    50% {
        transform: scale(1.04);
    }
}
