.Home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

@media only screen and (min-width:499px) {
    .Home {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.MainSection {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 90vh;
}

.ProjectSection {
    width: 100%;
}

.AboutSection {
    /* height: 80vh; */
    width: 100%;
}

.ContactSection {
    /* height: 80vh; */
    width: 100%;
}

.FooterSection {
    width: 100%;
}