.Home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: auto;
}

.MainSection {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 90vh;
}

.ProjectSection {
    width: 100%;
    /* background-color: #d7ebba; */
    /* background-color: #a8e4ff; */
    background-image: url('../../assets/images/rectangle.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.AboutSection {
    height: 90vh;
    width: 100%;
    /* background-color: #a8e4ff; */
    background-color: #b6ea67;

}

/* .MainCard {
    width: 300px;
    height: 200px;
    position: relative;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.MainCard::after {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    content: "";
    background-image: url('../../assets/images/computer.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.MainCard:hover {
    opacity: 0.8;
}

.MainCard>h2 {
    color: red;
} */