.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.Footer a:hover {
    opacity: 0.5;
}

.Credits {
    margin: 5% 0 2% 0;
}

.Social {
    width: 15%;
    display: flex;
    margin: 5% 0 2% 0;
    align-items: center;
    justify-content: space-around;
}

.Social img {
    width: 50px;
}

.Email {
    display: flex;
    justify-content: center;
    margin: 5% 0 2% 0;
}

.Email>a {
    text-decoration: none;
    color: black;
}

.Email img {
    margin-left: 5px;
    width: 9%;
    height: 9%;
}

.Email img:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 800px) {
    .Footer {
        flex-direction: column;
        align-items: center;
        margin-top: 9%;
        margin-bottom: 10%;
    }
    .Footer :nth-child(1) {
        order: 2;
    }
    .Footer :nth-child(2) {
        order: 3;
    }
    .Footer :nth-child(3) {
        order: 1;
    }
    .Social {
        width: 35%;
    }
    .Footer a {
        margin: 2%;
    }
    .Footer p {
        margin: 2%;
    }
    .Email img {
        margin-left: 5px;
    }
}