* {
    margin: 0;
    padding: 0;
    color: white;
    /* font-family: 'Roboto'; */
    /* font-family: 'Open Sans' ; */
    /* font-family: 'Lato', ; */
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgba(0, 0, 255, 0.342);
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-size: auto;
    background-repeat: no-repeat; */
}
#root {
    /* background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%); */
    /* background-image: url('./assets/images/moon.jpg');
    background-size: cover; */
    /* background-color: black;
    z-index: 0;    */
}